*
!src/
!src/**/*
!public/
!.prettierrc
!index.html
!.gitignore
!.dockerignore
!package-lock.json
!package.json
!tsconfig.app.json
!tsconfig.json
!tsconfig.node.json
!vite.config.ts
!openapi-ts.config.ts
!.github/
!.github/**/*